<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="shortcut icon" type="image/png" href="https://res.cloudinary.com/drs3a5h1s/image/upload/v1681484840/Pagina%20SPI/logoPequeno_udcoyg.jpg">
    
</head>
<body>


    <div class="container" id="contenedorGeneralIzquierda">
            <h1 id="titulo">Acerca de Nosotros</h1><br><br>
        <div class="row" id>   
          <div class="col-md-6">
            <img src="https://res.cloudinary.com/drs3a5h1s/image/upload/v1681482962/Pagina%20SPI/edificio_jf6kz4.png" id="imgAcercaNosotros" class="img-fluid" alt="Imagen responsive">
          </div>
          <div class="col-md-6" id="textAcercaNosotros">
            <p> ¡Bienvenidos! Somos una nueva empresa dedicada a la venta y subasta pública de inmuebles en todo el país. Nuestro equipo está compuesto por expertos en bienes raíces y subastas públicas, quienes están comprometidos en ofrecer soluciones eficientes y efectivas para la compra y venta de bienes raíces. <br>

              En nuestra empresa, nos enfocamos en hacer que el proceso de compra y venta de bienes raíces sea más accesible y simplificado para todas las personas interesadas. Ofrecemos una amplia gama de servicios que incluyen la venta de bienes raíces residenciales, comerciales y de inversión, así como la realización de subastas públicas en línea y en vivo. Además, brindamos asesoramiento personalizado y profesional a nuestros clientes en cada etapa del proceso. <br>
              
              Nos esforzamos por ofrecer un servicio excepcional a nuestros clientes y estamos comprometidos a garantizar la transparencia, la ética y el profesionalismo en cada transacción. Nuestra empresa está comprometida en obtener el mejor resultado para nuestros clientes en cada caso. <br>
              
              Si estás buscando una empresa confiable y eficiente para la compra o venta de bienes raíces, contáctanos. ¡Estamos entusiasmados de ayudarte a lograr tus objetivos de inversión y bienes raíces!</p>
          </div>
        </div>
      </div>
      
   

    <%- include("../widgets/body")%>
    <%- include("../widgets/Footer/index")%>
</body>
</html>