<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    
</head>
<body>


    <div class="container" id="contenedorGeneralIzquierda">
            <h1 id="titulo">Acerca de Nosotros</h1><br><br>
        <div class="row" id>   
          <div class="col-md-6">
            <img src="/image/edificio.png" id="imgAcercaNosotros" class="img-fluid" alt="Imagen responsive">
          </div>
          <div class="col-md-6" id="textAcercaNosotros">
            <p> Fundada en 1975, Tucasa es una empresa de inmuebles con un servicio integral,
                que ayuda a los propietarios de viviendas desde la elecci칩n, hasta la financiaci칩n y la compra de su vivienda. Todas las propiedades cuentan con est치ndares asequibles dise침ados para ajustarse a todos los estilos de vida.</p>
          </div>
        </div>
      </div>
      
   

    <%- include("../widgets/body")%>
    <%- include("../widgets/Footer/index")%>
</body>
</html>