<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    
</head>
<body >
    <img src="/image/contacto.png" class="img-fluid" id="imagenIndexPrincipal"alt="...">
    
    
    <div class="container text" id="contenedorContacto">
        <div class="row align-items">
          <div class="col">
            <img src="/image/logoClaro.jpg" class="img-fluid" alt="...">
          </div>
          <div class="col contenedorDerechoUno">
            
           
            <div class="row align-items">
                <div class="col ">
                    <a href="https://api.whatsapp.com/send?phone=+5491234567890" target="_blank" id="botonRedes">
                        <img src="/image/wpp.png"  id="social" class="iconWpp" alt="...">  </a>
                    
                     <a href="https://api.whatsapp.com/send?phone=+5491234567890" target="_blank"id="botonRedes" >
                         <img src="/image/fb.png" class="img-fluid" id="social" alt="...">  </a>

                     <a href="https://api.whatsapp.com/send?phone=+5491234567890" target="_blank"id="botonRedes" >
                         <img src="/image/twitter.png" class="img-fluid iconTw" id="social" alt="...">  </a>

                     <a href="https://api.whatsapp.com/send?phone=+5491234567890" target="_blank" id="botonRedes">
                            <img src="/image/instagram.png" class="img-fluid iconIg" id="social" alt="...">  </a>



                        
                </div>
             </div>
            
             <div class="row align-items textoConta">
                <div class="col">
                 <p align="left" id="textoConta">E-mail: correo@gmail.com</p>
                 <p align="left" id="textoConta">Direccion: Av 4N #6N-67. Torre Empresarial Siglo XXI.  Ofic. 608 Centenario, Cali </p>
                </div>
             </div>

           


          </div>
         
        </div>
      </div>


    <%- include("../widgets/body") %>
</body>
</html>