<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
   
    </title>
    <%- include("../widgets/cabecera.ejs") %>
</head>

<body>
    <div class="container p-4 formularioPropiedades">
        
        <%- include("../widgets/Crud/crear.ejs") %>
        
        <br><br>
    <div class="col-md-11 ">
    <div class="card">
        <div class="card-header text-center">
            <h3>Actualizar y eliminar propiedades</h3>
        </div>
        <%- include("../widgets/Crud/listarAdmin.ejs") %>
    </div>
</div>


    </div>

   




    <%- include("../widgets/body")%>
</body>

</html>