<!DOCTYPE html>
<html lang="en">

<head>
 
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= title %>
  </title>
  <%- include("../widgets/cabecera.ejs") %>

</head>

<body>


  <img src="https://res.cloudinary.com/drs3a5h1s/image/upload/v1683148042/Pagina%20SPI/Dise%C3%B1o_sin_t%C3%ADtulo_2_onr0zs.png"
    class="img-fluid" id="imagenIndexPrincipal" alt="...">
  <div class="container">
    <div class="row">
      
  </div>
  <%- include("../widgets/body")%>
  </div>
</body>

</html>