<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="shortcut icon" type="image/png" href="/image/logoPequeno.jpg">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    
    
</head>
<body>
  

    <img src="/image/2.png" class="img-fluid" id="imagenIndexPrincipal"alt="...">
    <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6" id="divSlogan">
            <h1 class="text-justify text-md-left" id="titulo">Su inversión en activos inmobiliarios</h1><br>
            <p class="text-justify" id="texto">Tanto si compras o vendes , podemos ayudarte.</p>
          </div>
        </div>
      </div>
      <%- include("../widgets/body")%>
</body>
</html>