<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= title %>
  </title>
  <%- include("../widgets/cabecera.ejs") %>
  </head>

<body>


  <div class="container" id="contenedorGeneralCentrado">
    <h1 id="titulo">Preguntas Frecuentes</h1><br><br>
    <div class="row">
      <div class="col-md-5" id="textAcercaNosotros">
        <img src="https://res.cloudinary.com/drs3a5h1s/image/upload/v1681482963/Pagina%20SPI/salaSecundaria_o07uyv.png"
          id="imgAcercaNosotros" class="img-fluid" alt="Imagen responsive">

      </div>
      <div class="col-md-7">
        <div class="accordion accordion-flush" id="accordionFlushExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
              <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                ¿Cuál es el proceso para participar en una subasta pública?
              </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
              data-bs-parent="#accordionFlushExample">
              <div class="accordion-body"> Para participar en una subasta pública, debes registrarte previamente y
                cumplir con los requisitos establecidos por la empresa. Durante la subasta, se establece un precio de
                reserva y el postor más alto al final de la subasta gana la propiedad.</div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                ¿Qué tipo de propiedades ofrecen en su empresa?
              </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
              data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">Ofrecemos una amplia gama de propiedades, incluyendo bienes raíces
                residenciales, comerciales y de inversión en todo el país.</div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                ¿Cómo puedo saber el valor de mi propiedad?
              </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
              data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">Ofrecemos servicios de avalúo profesional para determinar el valor actual
                de tu propiedad. Contáctanos para más información.</div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                ¿Cómo puedo comprar una propiedad en su empresa?
              </button>
            </h2>
            <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
              data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">Puedes comprar una propiedad en nuestra empresa a través de nuestro sitio web,
                donde tendrás a tu disposición un botón que te redireccionará a nuestro Whatsapp y tendrás una asesoría
                personalizada.</div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingFive">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                ¿Qué garantías ofrecen para las propiedades vendidas?
              </button>
            </h2>
            <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive"
              data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">Ofrecemos garantías para asegurar que las propiedades vendidas estén libres de
                gravámenes y deudas pendientes, y que la transacción se lleve a cabo de manera transparente y legal.
                Además, trabajamos con abogados expertos para garantizar que los contratos sean claros y justos para
                todas las partes involucradas.</div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingSix">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                ¿Cómo puedo contactar a su empresa?
              </button>
            </h2>
            <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix"
              data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">Puedes contactarnos a través de nuestro sitio web o por teléfono. También
                puedes visitarnos en nuestras oficinas personalmente para obtener más información sobre nuestros servicios
                y propiedades disponibles.</div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingSeven">
              <button class="accordion-button collapsed  btn-success" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
                ¿Cómo puedo listar mi propiedad en su página?
              </button>
            </h2>
            <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven"
              data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">Puedes listar tu propiedad en nuestra página web a través de nuestro
                formulario de registro o llamando a nuestras oficinas. Un agente de ventas te guiará en el proceso de
                listar tu propiedad en nuestro sitio web.</div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingEight">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
                ¿Necesito tener fotos de mi propiedad para listarla en su página?
              </button>
            </h2>
            <div id="flush-collapseEight" class="accordion-collapse collapse" aria-labelledby="flush-headingEight"
              data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">Sí, es recomendable tener fotografías de alta calidad de tu propiedad para
                listarla en nuestra página web. Nuestro equipo de marketing puede ayudarte a tomar fotografías
                profesionales si lo necesitas.</div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingNine">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseNine" aria-expanded="false" aria-controls="flush-collapseNine">
                ¿Qué información necesito proporcionar para listar mi propiedad en su página?
              </button>
            </h2>
            <div id="flush-collapseNine" class="accordion-collapse collapse" aria-labelledby="flush-headingNine"
              data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">Para listar tu propiedad en nuestra página web, necesitarás proporcionar
                información detallada sobre la propiedad, incluyendo la dirección, la descripción, los detalles del
                precio y las características de la propiedad.</div>
            </div>
          </div>
        </div>

      </div>
      

    </div>
  </div>



  <%- include("../widgets/body")%>
    <%- include("../widgets/Footer/index")%>

</body>

</html>