#botonRedes{
    display: inline-block;
    width: 5rem;
  }
  #social{
    height: 5rem;
    width: 5rem;

  }
.contenedorDerechoUno{
    margin-top: 4rem;
  }
.iconWpp{
    margin-top: 13px;
}
.iconTw{
    margin-top:7px
}
.iconIg{
    margin-top: 7px;
    
}
#textoConta{
    font-family: Texto;
    font-size: 1.3rem;
}
.textoConta{
    margin-top: 3rem;
}
#contenedorContacto{

  position: absolute;
  top: 25%;
  left: 20rem;
  z-index: 1;
  color: #000000;
  border-radius: 10px;
  background-color: white;
}


/*--------------Responsive-------------*/

@media screen and (max-width:1700px) {
  #contenedorContacto{
    
    left:20rem;
    width:60rem;
  }
}

@media screen and (max-width:1450px) {
  #contenedorContacto{
    width:80% ;
    top: 35%;
  }
}
@media screen and (max-width:1200px) {
  #contenedorContacto{
   left:15%;
  }
}
@media screen and (max-width:900px) {
  #contenedorContacto{
   left:8%;

  }
}
@media screen and (max-width:800px) {
  #contenedorContacto{
   left:5%;
  }
}
@media screen and (max-width:770px) {
  #contenedorContacto{
    top: 10rem;
    
   }
  .contenedorDerechoUno{
    margin-top: 30rem;
    margin-left: -80%;
    width: 15rem;
  }
  .contGeneralContacto{
    margin-left: 12%;
  }

}
@media screen and (max-width:576px) {
  #contenedorContacto{
    top:12%;
    margin-left: 5%;
   }
  .contenedorDerechoUno{
    margin-top: 30rem;
    width: 10rem;

  }
  .imgContacto{
    margin-left: -10% !important;
  }
  #textoConta{
    font-size: 1rem;
}
}
/*-----------------------------------------------*/