#logoFooter {
    height: 9rem;
    margin-top: 1rem;
    margin-left: -1rem;
    border-radius: 7px;
}

#textoFooter {
    font-family: Texto;
    font-size: 1rem;
    text-decoration: none;
    color: white;
    text-transform: none;
}

#tituloFooter {
    font-family: Titulo;
    font-size: 1.8rem;
    margin-left: -20rem;

}

.bodyContacto {
    color: white;
    background-color: #043343;
  margin-top: 5%;
  margin-bottom: 0rem !important;
}

/*---respndive---*/

@media screen and (max-width:1020px) {
    #tituloFooter {

        margin-left: 0rem;
    }
}