.formularioPropiedades {
    margin-top: 5rem;
}

.camposFormulario{
display: block !important;
margin-top: 1rem;
}

.inputImage {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
}

.divImage {
    position: relative;
    z-index: 0;
    background-image: url('https://res.cloudinary.com/drs3a5h1s/image/upload/v1681482963/Pagina%20SPI/upload_ryeslw.png');
    background-size: cover;
    border-radius: 20px;
    height: 80px;
    width: 80px;
}



input.form-control:focus {
    outline-color: red;
}

.imagenes {
    margin-left: 1rem;
}