/*-------diseño general----------------------*/

@font-face {
    font-family: Titulo;
    src: url("Aileron-Heavy.otf");
}

@font-face {
    font-family: Texto;
    src: url("Aileron-Light.otf");
}




/*------------------------------------------------*/
body{
    
}
#contenedorGeneralIzquierda {
    margin-top: 10rem;
    margin-left: 5rem;
  
}
#titulo {
    font-family: Titulo;
    font-size: 5rem;
}

#texto {
    font-family: Texto;
    font-size: 2rem;
   
}
#contenedorGeneralCentrado{
    margin-top: 12rem;
    
}
a{
    text-decoration: none;
    color: white;
}



/*--------------Responsive-------------*/

@media screen and (max-width:1400px) {
    #titulo {
        font-size: 3.5rem;
    }

    #texto {
        font-size: 1.5rem;
    }

}

@media screen and (max-width:1027px) {

    #titulo {
        font-size: 2.5rem;
        
    }

    #texto {
        font-size: 1rem;
    }


}

@media screen and (max-width:770px) {
   
    #texto {
        font-size: 1rem;
    }
 
}

@media screen and (max-width:550px) {
    #titulo {
        font-size: 1.7rem;
    }

    #texto {
        font-size: 0.8rem;
    }

}

/*-----------------------------------------------*/