

/*-------------diseño index-inicio-------------*/
#imagenIndexPrincipal {
  /*  filter: blur(2px) grayscale(5%);*/
    width: 100%;
    height: 45rem;
    margin-top: 5rem;
}

#divSlogan {
    position: absolute;
    top: 29%;
    left: 6%;
    z-index: 1;
    color: #f5fbf9;
    /*text-shadow: 1px 1px black;*/
}


.slogan{
    font-family: Texto;
    color: #c7ad7f;
    margin-top: 2rem;
    font-size: 1.9rem;
}
.contSlogan{
    background-color: #043343;
   
    max-width: 100%;
}
/*--------------Responsive-------------*/

@media screen and (max-width:1400px) {
    #imagenIndexPrincipal {
        height: 40rem;
    }
}

@media screen and (max-width:1027px) {
    #divSlogan {
        top: 30%;
    }
}

@media screen and (max-width:770px) {
    #divSlogan{
    top:20%
    } #titulo {
        font-size: 2rem;
    }
    #imagenIndexPrincipal {
        height: 20rem;
    }
}
/*-----------------------------------------------*/