

/*-------------diseño index-inicio-------------*/
#imagenIndexPrincipal {
    filter: blur(2px) grayscale(5%);
    width: 100%;
    height: auto;
    margin-top: 3rem;
}

#divSlogan {
    position: absolute;
    top: 29%;
    left: 6%;
    z-index: 1;
    color: #f5fbf9;
    text-shadow: 1px 1px black;
}




/*--------------Responsive-------------*/

@media screen and (max-width:1400px) {
    #imagenIndexPrincipal {
        height: 40rem;
    }
}

@media screen and (max-width:1027px) {
    #divSlogan {
        top: 30%;
    }
}

@media screen and (max-width:770px) {
    #divSlogan{
    top:20%
    } #titulo {
        font-size: 2rem;
    }
    #imagenIndexPrincipal {
        height: 20rem;
    }
}
/*-----------------------------------------------*/