/*--------------- Diseño del nav------------------*/
#logoMenu {
    margin-top: -0.5rem;
    margin-left: -0.8rem;
    margin-bottom: -0.5rem;
    height: 5rem;
}

#logoMenu2 {
    display: none;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: white;
}


.navbar {
    background-color: #043343 !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    z-index: 9999;
}

.nav-link {
    color: #c7ad7f;
    font-size: 110%;
    font-family: Texto;
    margin-left: 1rem;
}
.nav-link:hover {
    color: white;
  }
  

.cuadrado {
    width: 26rem;
    height: 5.5rem;
    background-color: #043343;
    color: #c7ad7f;
}

#barraTitulo {
    font-size: 2rem;
}




@media (max-width: 630px) {
    .triangle {
        display: none;
    }

}

@media (max-width: 553px) {
    #logoMenu {
        display: none;
    }

    #logoMenu2 {
        display: block;
        margin-top: -0.5rem;
        margin-bottom: -0.5rem;
        height: 5rem;
        width: 9.5rem;
        
    }
    .triangle{
        display: block;
        width: 0;
        height: 0;
        border-top: 0px solid transparent;
        border-left: 100px solid #043343;
        border-bottom: 6.1rem solid transparent;
        margin-top: -6rem;
        margin-left: 9.4rem;
        margin-bottom: -0.5rem;
    }

}

@media (max-width: 991.98px) {
    .navbar .navbar-collapse {
        background-color: #f5fbf9;
        top: 0.5rem;
        position: relative;

    }

    .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        --bs-gutter-x: 0rem;

    }
}



/*----------------------------------------------*/