<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("../cabecera.ejs") %>

</head>

<body>


  <nav class="navbar navbar-expand-lg bg-body-tertiary ">
    <div class="container-fluid">

      <a class="" href="/">
        <img src="https://res.cloudinary.com/drs3a5h1s/image/upload/v1681482962/Pagina%20SPI/logoPrincipal_cwwd6x.png"
          id="logoMenu" alt="...">
        <img
          src="https://res.cloudinary.com/drs3a5h1s/image/upload/v1681482962/Pagina%20SPI/logoPrincipalMovil_sakfhs.png"
          id="logoMenu2" alt="...">
        

      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/acercaNosotros">Acerca de nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/propiedadesDisponibles">Propiedades disponibles</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/preguntasFrecuentes">Preguntas frecuentes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contactanos">Contactanos</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>




</body>

</html>